# .env.example
# Set your Gmail address
EMAIL_USER=rajverma123orai@gmail.com
# Set your Gmail App Password (NOT your regular password)
# Get it here: https://myaccount.google.com/apppasswords
EMAIL_PASS=
# The public URL of your app (for the approval link)
APP_URL=
